
/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {

    .header{
        width: 96%;
    }

    .nhan{
        width: 83%;
        text-align: center;
        font-size: 12px;
    }

    .nav{
        display: flex;
        padding-right: 184px;
        font-size: 13px;
    }

    .imgnav{
        width: 135px;
    }

    .button{
        width: 120px;
    }

    .header{
        max-width: 100%;
        height: 300px;
        filter:brightness(110%);
    }
    
    .kit{
        font-size: 15px;
    }

    .textkit{
        padding-top: 8px;
    }
    
    .txt{
        padding-right: 150px;
    }
    
    .items{
        flex-direction: column;
    }
    
    .imglogo{
        padding: 15%;
    }

    #lab{
        flex-direction: column;
    }

    #who{
        flex-direction: column;
    }

    .aaa{
        flex-direction: column;
    }


    .text{
        order: 1;
        padding-left: unset;
        font-size: 12px;
        text-align: center;
        padding-right: unset;
    }

    .btn1{
        width: 186px;
    }

    .image{
        padding-left: 0px;
        width: 428px;
        height: 300px;
    }

    .imgdentist{
        width: 124%;
    }

    .card3{
        margin: 0 auto;
    }

    .card2{
        margin: 0 auto;
    }
     
    .img{
       padding-left: 31px; 
    }

    .text1{
        order: 2;
        padding-left: unset;
        font-size: 13px;
        padding-right: unset;
    }

    #parent{
        height: 1300px;
    }

    .btnparent{
        padding-top: 390px;
        padding-bottom: 35px;
    }

    .text2{
        padding-top: 50px;
        font-size: 12px;
    }

    #mail{
        flex-direction: column;
    }

    .imgmail{
        margin: 0 auto;
    }

    .textmail {
        text-align: center;
    }

    .input {
        width: 382px;
    }

    .imgmail1{
        right: 34px;
    }

    .textmail1{
        text-align: center;
    }

    .listmng{
        flex-direction: column;
    }

    #listss{
        height: 830px;
    }
    
}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {

    .nhan{
        width: 85%;
        text-align: center;
        font-size: 14px;
    }

    .nav{
        display: flex;
        padding-right: 184px;
        font-size: 13px;
    }

    .imgnav{
        width: 135px;
    }

    .button{
        width: 120px;
    }

    .header{
        max-width: 100%;
        height: 300px;
        filter:brightness(110%);
    }
    
    .kit{
        font-size: 15px;
    }

    .textkit{
        padding-top: 40px;
    }
    
    .txt{
        padding-right: 370px;
    }

    .text{
        order: 1;
        padding-left: 59px;
        font-size: 11px;
    }

    .btn1{
        width: 186px;
    }

    .image{
        padding-left: 0px;
        width: 428px;
        height: 300px;
    }
     
    .img{
       padding-left: 31px; 
    }

    .text1{
        padding-left: 0px;
        padding-top: 20px;

    }

    .btnparent{
        padding-top: 65px;
    }

    .text2{
        font-size: 12px;
    }

    .listmng{
        padding-right: 15px;
    }

    .txtmail{
        font-size: 15px;
    }

    .imgmail1{
        right: 70px;
    }
    
}